<%= form_for(@user, html: { multipart: true}) do |form| %>
  <div class="user-form">
    <%= form.label :full_name %>
    <%= form.text_field :full_name, class: "full-name" %>

    <%= form.label :level %>
    <%= form.select :level, ["Beginner", "Jr. Developer", "Mid Developer", "Sr. Developer"], class: "skill-level" %>

    <%= form.submit "Submit" %>
  </div>
  <% end %>
